
<% include partials/header %>

    <div class="nav"> 
      <div class="nav-bar logonav">
        <a href="/">
          <ul id="main-logo1"><i class="fa fa-chevron-left" aria-hidden="true"></i></ul>
         </a>   
       </div>
      <div class="logonav"> 
          <a href="mailto:william.dickinson88@gmail.com">
              <ul id="main-logo2"><i class="fa fa-envelope-o" aria-hidden="true"></i></ul>
         </a> 
      </div>
    </div>

<div class="background">

    <div>
        <div>
            <img class="cover img-responsive" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/cover+II.jpg"/>
        </div>
        <div class="intro fadeInUp animated">
            <img class="img-responsive logo" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics_basic_logo.png"/>
            <h4 class="job">Co-founder/CEO</h4>
            <h2 class="start">Robotic Cameras, Stadiums, Magic-moments</h2>
            <p class="para ">Fanpics is a proprietary camera technology installed into stadiums and arenas able to capture the entire crowds’ reaction to big moments during an event.</p> 
            <p class="para">This creates a personalized story for every fan, created live.</p>
        </div>
    </div>

    <h1 class="header wow fadeInUp animated">PRODUCT</h1>
    <p class="para wow fadeInUp animated">Fans check-in to their seat before, during or after the event to view their story.</p>
    <div class="user "> 
        <video class="user video wow fadeInUp animated" autoplay="true" loop="true" width="100%" height="100%"> 
            <source src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics+user.mp4">
        </video>
    </div>
    
    <div class="">
        <p class="para wow fadeInUp animated">Each experience is unique, capturing the best moments of <strong>every</strong> fan in the venue.</p>
    </div>
    
    
   <div class="">
        <div class="col-sm-3"> 
            <img class="img-responsive tech wow fadeInUp animated" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics/fans1.jpg"/>
        </div>
        <div class="col-sm-3"> 
            <img class="img-responsive tech wow fadeInUp animated" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics/fans2.jpg"/>
        </div>
        <div class="col-sm-3"> 
            <img class="img-responsive tech wow fadeInUp animated" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics/fans3.jpg"/>
        </div>
        <div class="col-sm-3"> 
            <img class="img-responsive tech wow fadeInUp animated" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics/fans4.jpg"/>
        </div>
   </div>
    
    
     <div>
        <p class="para">&nbsp</p>
        <p class="para">&nbsp</p>
        <p class="para">&nbsp</p>
        <p class="para wow fadeInUp animated">How does it work?</p>
   </div>
   
    
       <div class="black wrapper">
               <img class="overlay " id="play" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/playbutton.png"/>
          
            
            <div class="dim">
                <a href="//vimeo.com/video/193902506" data-lity> 
                    <video muted autoplay="true" loop="true" width="100%"><source src="https://s3-us-west-1.amazonaws.com/willdickinson.co/cropvid.mp4"></video>
                </a>
            </div>
                  
        </div>        
         
    
    <p class="para">&nbsp</p>
    <p class="para">&nbsp</p>

    
    <div>
        <h1 class="header wow fadeInUp animated">TECHNOLOGY</h1>
        
         <div class="">
            <p class="para wow fadeInUp animated">It all starts with our robots and a little help from our partners at Canon &#8482</p>
        </div>
    
        <div class="">
            <video id="video" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/cams.mp4"  preload></video>
        </div>
        
    <p class="para">&nbsp</p>
    
    
        <div class="wow fadeInUp animated">
            <p class="para">Twelve units are permanatly installed around the perimeter of the venue, each is calibrated and every seat is indexed.</p>
            <p class="para">An operator on site triggers the system and every fan is captured within seconds.</p>
            <p class="para">Millions of images are processed each event and are delivered to fans within minutes of capture.</p>
        </div>
        
        <div class="row">
            <div class="col-sm-8 wow fadeInUp animated"> 
                <video class="img-responsive tech " autoplay="true" loop="true" width="100%" height="100%"> 
                    <source src="https://s3-us-west-1.amazonaws.com/willdickinson.co/cammove.mp4">
                </video>
            </div>
            <div class="col-sm-4 wow fadeInUp animated"> 
                <img class="img-responsive tech" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/techexplan.jpg"/>
            </div>
        </div>
        
        <div class="wow fadeInUp animated">
            <p class="para">Intellectual Property:</p>
            <p class="ip">
                <a target="_blank" href="https://patents.google.com/patent/US20150062334A1/en" class="presspara presslink">US14308558 &nbsp || &nbsp Systems and Methods for Image Capture and Distribution in Venues</a>
            </p>
            <p class="ip"> 
                <a target="_blank" href="https://patents.google.com/patent/US20150062334A1/en" class="presspara presslink">US14915184 &nbsp || &nbsp Imaging attendees at event venues</a>
            </p>
            <p class="ip">
                <a target="_blank" href="https://patents.google.com/patent/US20150062334A1/en" class="presspara presslink">US14654485 &nbsp || &nbsp Image capture, processing and delivery at group events</a>
            </p>
            
            
        </div>
   </div>
  
    <div>
          <h1 class="header wow fadeInUp animated">PARTNERS & PRESS</h1>
    </div>
  
   <p class="para wow fadeInUp animated">Fanpics expanded across the MLS, NBA and NHL, creating special memories for hundreds of thousands of fans across the US.</p>
  
  
  <div class="press row">
      <div class="col-md-2 presscol col-md-offset-1 wow fadeInUp animated">
          <img class="img-responsive presslogos1" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics/Press+logos/SDBG+logo.png"/>
          <p class="pressheader">New Galaxy partner Fanpics lets fans find photos of themselves in action in the stands</p>
          <p class="presspara">"The Galaxy represents the first pro alignment for the fledgling company after an initial trial with San Diego State University. But Fanpics is now in talks with several pro properties...."</p>
          <a class="presslink" target="_blank" href="http://www.sportsbusinessdaily.com/Journal/Issues/2014/10/13/Facilities/Fanpics.aspx">SEE FULL ARTICLE >></a>
       </div>
       
       <div class="col-md-2 presscol wow fadeInUp animated">
          <img class="img-responsive presslogos1" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics/Press+logos/La+times+logo.png"/>
          <p class="pressheader">At Landon Donovan's last games, Fanpics will be watching stadium closely</p>
          <p class="presspara">"Fans can put their phone away and experience it as they would and still have a story to share......"</p>
          <a class="presslink" target="_blank" href="http://www.latimes.com/business/technology/la-fi-tn-fanpics-la-galaxy-20141015-story.html">SEE FULL ARTICLE >></a>
        </div>
        
        <div class="col-md-2 presscol wow fadeInUp animated">
          <img class="img-responsive presslogos1" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics/Press+logos/forbes+logo.png"/>
          <p class="pressheader">STAPLES Center, AEG And Fanpics Partner To Put Fans At The Center Of Major Sports Moments</p>
          <p class="presspara">"If this is an indicator of what’s to come in the world of sports media, the mobile world of in-game experiences may become just as massive as the main event you showed up to see."</p>
          <a class="presslink" target="_blank" href="http://www.forbes.com/sites/julianmitchell/2015/05/27/staples-center-and-fanpics-team-up-putting-fans-at-the-center-of-major-sports-moments/#7123083e7a66">SEE FULL ARTICLE >></a>
        </div>
      
        <div class="col-md-2 presscol wow fadeInUp animated">
          <img class="img-responsive presslogos1" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics/Press+logos/fox+logo.png"/>
          <p class="pressheader">Robot cameras will capture Clippers, Kings fan reaction in Staples Center</p>
          <p class="presspara">"We are always seeking methods to enhance the entertainment value of our overall in-venue, game day experience and Fanpics provides us with a very innovative way to do just that," Staples Center president Lee Zeidman"</p>
          <a class="presslink" target="_blank" href="http://www.foxsports.com/west/story/robot-cameras-fanpics-will-capture-la-clippers-la-kings-fan-reaction-in-staples-center-052915">SEE FULL ARTICLE >></a>
        </div>
      
        <div class="col-md-2 presscol wow fadeInUp animated">
          <img class="img-responsive presslogos1" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics/Press+logos/boston+globe+logo.png"/>
          <p class="pressheader">Putting fans in the spotlight</p>
          <p class="presspara">"A California start-up eager to monetize fans’ obsession — with themselves — has begun mounting crowd-facing cameras in a few sports venues on the West Coast and is hoping to bring the technology to Boston."</p>
          <a class="presslink" target="_blank" href="https://www.bostonglobe.com/lifestyle/style/2015/08/05/who-star-game-the-athletes-fans-selfie-era-that-trick-question/faP2ekf4iGfvzOt1NUB3SJ/story.html">SEE FULL ARTICLE >></a>
        </div>
  </div>
  
  
 <div class="">
     <div class="col-sm-3" id="partners">
         <img class="img-responsive wow fadeInUp animated" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics/Partners/partners1a.png"/>
     </div>
     <div class="col-sm-3" id="partners">
         <img class="img-responsive wow fadeInUp animated" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics/Partners/partners2a.png"/>
     </div>
     <div class="col-sm-3" id="partners">
         <img class="img-responsive wow fadeInUp animated" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics/Partners/partners3.png"/>
     </div>
     <div class="col-sm-3" id="partners">
         <img class="img-responsive wow fadeInUp animated" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics/Partners/partners5.png"/>
     </div>
  </div>         
  

       <div class="wow fadeInUp animated">
            <div class="col-sm-5">
                <img class="img-responsive" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics/Partners/hand.png"/>
            </div>
            <div class="col-sm-7 blue">
                <a target="_blank" href="http://www.forbes.com/sites/julianmitchell/2015/05/27/staples-center-and-fanpics-team-up-putting-fans-at-the-center-of-major-sports-moments/#1adbf3157a66">
                    <img class="img-responsive" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Fanpics/Partners/quote.png"/>
                </a>
            </div>
        </div>
        
        
        
        
  </div>

    

<% include partials/footer %>
