
<% include partials/header %>

    <div class="nav"> 
      <div class="nav-bar logonav">
        <a href="/">
          <ul id="main-logo1"><i class="fa fa-chevron-left" aria-hidden="true"></i></ul>
         </a>   
       </div>
      <div class="logonav"> 
        <a href="mailto:william.dickinson88@gmail.com">
            <ul id="main-logo2"><i class="fa fa-envelope-o" aria-hidden="true"></i></ul>
        </a> 
      </div>
    </div>
    
    
    <div>
        <div>
            <img class="cover img-responsive" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/algaecover.jpg"/>
        </div>
        <div class="intro fadeInUp animated">
            <img class="img-responsive logo" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Newcastle-University-logo.jpg"/>
            <h4 class="job">Renewable Energy Engineering MSc <br> <br> - First-class honours -</h4>
            <h2 class="start">BIOFUELS, MARINE, TECHNICAL ENGINEERING</h2>
            <p class="para">Specialized in algae photobioreactors and marine based systems (wave, tidal).</p>
            <br>
            <p class="para"> <i class="fa fa-circle fa3" aria-hidden="true"></i>&nbsp &nbsp Dissertation: Feasibility study on the construction and operation of an innovative, large-scale, commercially viable algae photobioreactor system to produce biofuels. </p>
            <p class="para"> <i class="fa fa-circle fa3" aria-hidden="true"></i>&nbsp &nbsp Technical engineering on a broad range of renewable technologies: wind, solar, wave.</p>
            <p class="para"> <i class="fa fa-circle fa3" aria-hidden="true"></i>&nbsp &nbsp Financial evaluation and integration of different renewable systems.</p>
            
        </div>
    </div>
    
    
    
    
    




<% include partials/footer %>
