
<% include partials/header %>

    <div class="nav"> 
      <div class="nav-bar logonav">
        <a href="/">
          <ul id="main-logo1"><i class="fa fa-chevron-left" aria-hidden="true"></i></ul>
         </a>   
       </div>
      <div class="logonav"> 
          <a href="mailto:william.dickinson88@gmail.com">
              <ul id="main-logo2"><i class="fa fa-envelope-o" aria-hidden="true"></i></ul>
         </a> 
      </div>
    </div>


<div class="">

    <div>
        <div>
            <img class="cover img-responsive" src="https://s3-us-west-1.amazonaws.com/willdickinson.co/ves.jpg"/>
        </div>
        <div class="intro fadeInUp animated">
            <img class="img-responsive logo"  src="https://s3-us-west-1.amazonaws.com/willdickinson.co/Veolia-environment-logo.svg.png"/>
            <h4 class="job">Design & Technical Operations Engineer</h4>
            <h2 class="start">INNOVATIVE SYSTEM DESIGN, FACILITY OPS, LARGE-SCALE PROJECT MGMT</h2>
             <p class="para">Specialized in biological technologies: Anaerobic Digestion, IVCs, Algae biofuels, Living walls</p>
            <br>
            <p class="para"> <i class="fa fa-circle fa2" aria-hidden="true"></i>&nbsp &nbsp Technical operations across major UK MRFs (Material Recover Facility) and IVCs (In-Vessel Composting).</p>
            <p class="para"> <i class="fa fa-circle fa2" aria-hidden="true"></i>&nbsp &nbsp Led the facilities upgrades for anaerobic digestion systems utilizing the French and German systems.</p>
            <p class="para"> <i class="fa fa-circle fa2" aria-hidden="true"></i>&nbsp &nbsp Managed the world largest living wall construction at the leads ERF (Energy Recovery Facility).</p>
            <p class="para"> <i class="fa fa-circle fa2" aria-hidden="true"></i>&nbsp &nbsp Led the algal photobioreactor feasibility project aimed at creating biofuel from waste emissions (it wasn’t).</p>
            
        </div>
    </div>




<% include partials/footer %>
